.container.mt-5
  %h2.text-center.mb-4 All Posts

  .row.g-4
    - @posts.each do |post|
      .col-md-4
        .card.h-100.shadow-sm
          .card-body
            %h5.card-title= post.title
            %p.card-text= truncate(post.content, length: 100)
          .card-footer.text-end.mt-3.d-flex
            = link_to "Read More", post_path(post), class: "btn btn-sm btn-primary me-2 p-1 mb-auto"
            = button_to "Delete", post_path(post), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger"
