.container.mt-5
  .row.justify-content-center
    .col-md-8
      .card
        .card-header.bg-primary.text-white
          %h2 New Post
        .card-body
          = render 'form'
        .card-footer
          = link_to "Back", posts_path, class: "btn btn-sm btn-secondary"
